* {
	margin: 0;
	padding: 0;
}

.container {
	display: grid;
	grid-template-columns: repeat(2, minmax(200px, 1fr));
	grid-template-rows: repeat(2, minmax(200px, 1fr)) minmax(600px, 3fr);
	grid-template-areas:
		'header profilePicture'
		'aboutMe profilePicture'
		'experience moreDetails';
}

.container > div {
	padding: 40px 30px;
}
.Experience {
	grid-area: experience;
}
.MoreData {
	grid-area: moreDetails;
	display: grid;
	grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
}

.MoreData > div > *:nth-child(1) {
	text-align: center;
	grid-column: 1 / span 2;
}
.MoreData > .skills > div > ul {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-height: 100px;
	gap: 5px;
	list-style-type: circle;
}
.MoreData ul {
	list-style-type: none;
}
.MoreData .contact-divs {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 50px;
}
.AboutMe {
	grid-area: aboutMe;
}
.container .Header {
	padding-top: 80px;
	grid-area: header;
}
.ProfilePicture {
	grid-area: profilePicture;
	background: var(--color-accent-secondary);
	display: flex;
	place-content: center;
}

.ProfilePicture img {
	border-radius: 50%;
	height: 300px;
	width: auto;
}

.Header,
.AboutMe {
	border-bottom: 5px solid var(--color-accent-secondary);
}
.Header,
.AboutMe,
.Experience {
	border-right: 5px solid var(--color-accent-secondary);
}
