* {
	margin: 0;
	padding: 0;
}

.container {
	display: grid;
	grid-template-columns: repeat(2, minmax(200px, 1fr));
	grid-template-rows: repeat(2, minmax(200px, 1fr)) minmax(600px, 3fr);
	grid-template-areas:
		'header profilePicture'
		'aboutMe profilePicture'
		'experience moreDetails';
}

.container > div {
	padding: 40px 30px;
}
.Experience {
	grid-area: experience;
}
.MoreData {
	grid-area: moreDetails;
}
.AboutMe {
	grid-area: aboutMe;
}
.container .Header {
	padding-top: 80px;
	grid-area: header;
}
.ProfilePicture {
	grid-area: profilePicture;
	background: var(--color-accent-secondary);
	display: flex;
	place-content: center;
}

.ProfilePicture img {
	border-radius: 50%;
	height: 300px;
	width: auto;
}

.Header,
.AboutMe {
	border-bottom: 5px solid var(--color-accent-secondary);
}
.Header,
.AboutMe,
.Experience {
	border-right: 5px solid var(--color-accent-secondary);
}
/* 
.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
} */
