* {
	margin: 0;
	padding: 0;
}

.container {
	font-weight: 500;
	display: grid;
	grid-template-columns:
		minmax(300px, 1.5fr)
		5px
		minmax(200px, 1fr);
	grid-template-areas:
		'header border profilePicture'
		'aboutMe border profilePicture'
		'experience border moreDetails';
}

.container > div {
	padding: 40px 30px;
}
.container .border {
	background-color: var(--color-accent-secondary);
	grid-area: border;
	grid-row: 1/-1;
	padding: 0;
}
.container .Experience {
	grid-area: experience;
}
.container .MoreData {
	grid-area: moreDetails;
	display: grid;
	grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
}

.MoreData > div > *:nth-child(1) {
	/* text-align: center; */
	grid-column: 1 / span 2;
}
.MoreData > .skills > div > ul {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-height: 100px;
	gap: 5px;
	list-style-type: circle;
}
.MoreData ul {
	list-style-type: none;
}
.MoreData .contact-divs {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: large;
	padding-right: 100px;
}
.container .AboutMe {
	grid-area: aboutMe;
}
.container .Header {
	padding-top: 80px;
	grid-area: header;
}
.ProfilePicture {
	grid-area: profilePicture;
	background: var(--color-accent-secondary);
	display: flex;
	justify-content: center;
	align-items: center;
}

.ProfilePicture img {
	border-radius: 50%;
	height: 300px;
	width: auto;
}

.Header,
.AboutMe {
	border-bottom: 5px solid var(--color-accent-secondary);
}
/* .Header,
.AboutMe,
.Experience {
	align-self: stretch;
	border-right: 5px solid var(--color-accent-secondary);
} */
