:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	/* font-weight: 400; */

	color-scheme: light dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: var(--color-background-primary);
	color: var(--color-text-primary);

	/* Define the color variables */
	--color-background-primary: #f3f3e0;
	--color-background-secondary: #cbdceb;
	--color-text-primary: #133e87;
	--color-accent-secondary: #608bc1;
}

@media (prefers-color-scheme: light) {
	:root {
		color: var(--color-background-primary);
		background-color: var(--color-text-primary);
	}
}
